.edit-task-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.edit-task-form {
  margin-bottom: 20px;
}

.edit-task-form label {
  font-weight: bold;
}

.edit-task-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-task-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.edit-task-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 20px; 
}

label {
  display: block; 
  font-weight: bold; 
}

textarea {
  width: 100%; 
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px;   
  box-sizing: border-box; 
}

textarea:focus {
  border-color: #007bff; 
  outline: none; 
}
